// set custom hex colors 
$siteBgColorCustom: #fff;
$sidebarBgColorCustom: #103742;
$textColorCustom: #666260;
$sidebarTextColorCustom: #fff;
$headlineColorCustom: #103742;
$headingColorCustom: #a89090;
$bodyLinkColorCustom: #6e0e1c;
$navLinkColorCustom: #6e0e1c;
$sidebarLinkColorCustom: #fff;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #103742;
$buttonHoverBgColorCustom: #6e0e1c;
$borderColorCustom: #c4beb9;
